body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
	background-color: black;
	background-size: 35%;
	background-repeat: no-repeat;

}

body, h1 {

}

#wrapper {
	position: absolute;
	top: 100px;
}
/*Logo*/

.logo {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/*Navbar top*/
#header {
	text-align: center;
	text-decoration: none;
}

.navbar-fixed-top {
	height: auto;
	padding-bottom: 25px;
	display: block;
	text-align: center;
}
.navbar-nav {
	float: none;
	padding-top: 40px;
}



/*Sidebar*/
.sidenav {
    height: 100vh;
    width: 0;
    z-index: 1;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	float: left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


/*Dropdown*/
.dropdown-menu {
	background-color: #222;
	text-align: center;
}
.dropdown-menu li a {
	color: #9d9d9d;

}

.dropdown-li {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flexbox {

}

/*Main*/

#main {
    transition: margin-left .5s;
    padding: 16px;
}
