body {
	text-align: center;
}

.jumbotron {
	margin: 0px;
}

.header {
	background-color: ;
}

#seat-number {
	width: 45px;
}
#date {
	width: 150px;
}

.form-control {
	text-align: center;
	margin: auto;
}

.jumbotron {
	background-image: url()
}

.from {
	padding-left: 10px;
}

.to {
	padding-right: 10px;
}










/*Search bar css*/
#custom-search-input{
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
	width: 100%;
	margin: 0px;
	display: inline-block;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;

}
