body {
  font-family: "Lato", sans-serif;
  width: 100vw;
	display: flex;
  flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
  background-image: url(background.jpg);
  background-repeat: repeat;
}

.row {
    margin: 0px;
}

body h1 {
    font-family: 'Lily Script One', cursive;
    color: black;
}

body h2 {
    margin: 0px;
}

#wrapper {
    position: absolute;
    display: flex;
    top: 85px;
    width: 95vw;
}

/*Logo*/

.logo {
    z-index: 5;
    -webkit-filter: grayscale(100%);
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-family: 'Lily Script One', cursive;
    font-size: 30px;
    text-align: center;
    color: black;
}



/*Navbar top*/

#header {
    text-align: center;
    text-decoration: none;
}

.navbar-fixed-top {
    height: auto;
    display: block;
    text-align: center;
    border-bottom: 10px solid black;
    background-color: white;
}

.navbar-nav {
    float: none;
}

.navbar {
    margin-bottom: none;
    height: 90px;
    padding-top: 22px;
}


/*Sidebar*/

.sidenav {
    padding-left: 20px;
    height: 100%;
    width: 0;
    z-index: 1;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    position: fixed;
    float: left;
    font-family: 'Montserrat', sans-serif;
    border-right: 5px solid black;
    padding-bottom: 50px;
}

.sidenav a {
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
    margin-bottom: 15px;
    margin-right: 10px;
}

.sidenav a:hover {
    cursor: pointer;
}

.sidenav a:hover, .offcanvas a:focus {
    color: gray;
}

.slider:hover {
    cursor: pointer;
}


/*Dropdown*/

.dropdown-menu {
    background-color: #222;
    text-align: center;
}

.dropdown-menu li a {
    color: black;
    padding-bottom: 10px;
}

.dropdown-text {
    color: black;
    margin-right: 15px;
    display: -webkit-inline-box;
    font-size: 20px;
    text-align: center;
}

.dropdown-li {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider.slider-horizontal {
    margin-top: -10px;
}

.number {
    height: 60px;
}

.switch {
    padding-top: 10px;
}


/*Main*/

#main {
    transition: margin-left .5s;
    padding: 25px;
    float: left;
    width: 100%;
	z-index: 2;
  display: flex;
  flex-wrap: wrap;
}

.newsDiv {
    width: 40%;
    height: 350px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin: 25px;
}

.newsContent {
    display: flex;
    height: 100%;
    margin: 10px;
    width: 100%;
}

.carousel-inner {
  height: 100%;
  width: 100%;
  z-index: 0;

}
.carousel-control {
  z-index: 1;
}
